{% extends 'layout/dashboardLayout.html' %}

{% block body %}
{% load crispy_forms_tags %}
<div class="globalBoxes">
    <div class="box">
        <button class="btn btn-info" hx-get="{% url 'expense:add-expense' %}" hx-target="#addUpdateDataDialog" style="margin-bottom: 20px;">Gider Ekle</button>
        <a class="btn btn-success" hx-get="{% url 'expense:add-expense-batch' %}" hx-target="#addUpdateDataDialog" style="margin-bottom: 20px;">Excel İle Ekle</a>
        <a class="btn btn-success" href="{% url 'expense:download-expense-excel' %}" style="margin-bottom: 20px;">Excel Şablonunu İndir</a>
        <table id="expenseTable" class="table table-striped" style="width:100%">
            <thead>
                <tr>
                    <th>Tarih</th>
                    <th>Firma</th>
                    <th>Kategori</th>
                    <th>Ürün/Hizmet</th>
                    <th>Birim</th>
                    <th>Miktar</th>
                    <th>Birim Tutar</th>
                    <th>Toplam Tutar</th>
                    <th>Düzenle</th>
                    <th>Sil</th>
                </tr>
            </thead>
            <tbody>
                {% for expense in expenses %}
                    <tr>
                        <td data-order="1479686400">{{expense.created_date}}</td>
                        <td>{{expense.company}}</td>
                        <td>{{expense.category}}</td>
                        <td>{{expense.title}}</td>
                        <td>{{expense.unit}}</td>
                        <td>{{expense.quantity}}</td>
                        <td>₺ {{expense.price}}</td>
                        <td>₺ {{expense.total|floatformat:2}}</td>
                        <td>
                            <button class="btn btn-info" hx-get="{% url 'expense:update-expense' expense.id %}" hx-target="#addUpdateDataDialog">Düzenle</button>
                        </td>
                        <td>
                            <button class="btn btn-danger" hx-get="{% url 'expense:get-delete-expense' expense.id %}" hx-target="#addUpdateDataDialog">Sil</button>
                        </td>
                    </tr>
                {% endfor %}
                
            </tbody>
            <tfoot>
                <tr>
                    <th>Tarih</th>
                    <th>Firma</th>
                    <th>Kategori</th>
                    <th>Ürün/Hizmet</th>
                    <th>Birim</th>
                    <th>Miktar</th>
                    <th>Birim Tutar</th>
                    <th>Toplam Tutar</th>
                    <th>Düzenle</th>
                    <th>Sil</th>
                </tr>
            </tfoot>
        </table>
    </div>
</div>

<div class="sales-graph">
    {% include "includes/graph/lineGraph.html" %}
    {% include "includes/graph/pieGraph.html" %}
</div>

<script>
    $(document).ready(function () {
        $('#expenseTable').DataTable({
            order: [[0, 'desc']],
            language: {
                url: '//cdn.datatables.net/plug-ins/1.13.2/i18n/tr.json'
            }
        });
    });

    /*Line Chart*/
    const ctxLineChart = document.getElementById('line-chart').getContext('2d');

    new Chart(ctxLineChart, {
        type: 'line',
        data: {
        labels: [{% for item in lineData %} "{{ item.day }}", {% endfor %}],
        datasets: [{
            label: '',
            data: [{% for item in lineData %} {{ item.data }}, {% endfor %}],
            fill: true,
            backgroundColor: 'rgba(255, 56, 0, 0.2)',
            borderColor: '#ff3800',
            borderWidth: 1,
            tension: 0.5
        }]
        },
        options: {
            plugins: {
                legend: {
                    display:false
                }
            },
            scales: {
                y: {
                    beginAtZero: true,
                    grid: {
                        color: "rgba(0, 0, 0, 0.05)"
                    }
                },
                x: {
                    grid: {
                        display:false
                    }
                }
            }
        }
    });

    /*Pie Chart*/
    const ctxPieChart = document.getElementById('pie-chart').getContext('2d');

    new Chart(ctxPieChart, {
        type: 'pie',
        data: {
        labels: [{% for item in pieData %} "{{ item.category }}", {% endfor %}],
        datasets: [{
            label: '',
            data: [{% for item in pieData %} {{ item.data }}, {% endfor %}],
            borderWidth: 1,
            hoverOffset: 4
        }]
        },
        options: {
            responsive: true,
            maintainAspectRatio: true,
            aspectRatio: 1,
            plugins: {
                legend: {
                    position: 'bottom'
                }
            },
            scales: {
                xAxes: [{
                    gridLines: {
                        display:false
                    }
                }],
                yAxes: [{
                    gridLines: {
                        display:false
                    }   
                }]
            }
        }
    });

</script>

{% endblock body %}