{% extends 'layout/dashboardLayout.html' %}

{% block body %}
<tbody ></tbody>
<div class="globalBoxes">
<div class="box">
    <button class="btn btn-info" hx-get="{% url 'material:add-material' %}" hx-target="#addUpdateDataDialog" style="margin-bottom: 20px;">Malzeme Ekle</button>
    <table id="example" class="table table-striped" style="width:100%">
        <thead>
            <tr>
                <th>Kategori</th>
                <th>Malzeme İsmi</th>
                <th>Birim</th>
                <th>Miktar</th>
                <th>Birim Fiyat</th>
                <th>Düzenle</th>
                <th>Sil</th>
            </tr>
        </thead>
        <tbody>
            {% for material in materials %}
                <tr>
                    <td>{{material.category}}</td>
                    <td>{{material.title}}</td>
                    <td>{{material.unit}}</td>
                    <td>{{material.quantity}}</td>
                    <td>₺ {{material.price}}</td>
                    <td>
                        <button class="btn btn-info" hx-get="{% url 'material:update-material' material.id %}" hx-target="#addUpdateDataDialog">Düzenle</button>
                    </td>
                    <td>
                        <button class="btn btn-danger" hx-get="{% url 'material:get-delete-material' material.id %}" hx-target="#addUpdateDataDialog">Sil</button>
                    </td>
                </tr>
            {% endfor %}
            
        </tbody>
        <tfoot>
            <tr>
                <th>Malzeme Tipi</th>
                <th>Malzeme İsmi</th>
                <th>Birim</th>
                <th>Miktar</th>
                <th>Birim Fiyat</th>
                <th>düzenle</th>
                <th>Sil</th>
            </tr>
        </tfoot>
    </table>
</div>
</div>

<div class="globalBoxes">
    <div class="line-graph box">
        <div class="head">
            <div class="title">Grafik</div>
            <i class='bx bx-cog'></i>
        </div>
        <canvas id="line-chart"></canvas>
        <div class="button goDetailButton">
            <a href="">Detaylı Raporlar</a>
        </div>
    </div>
</div>


<script>
    $(document).ready(function () {
        $('#example').DataTable();
    });

    /*Line Chart*/
    const lineChart = document.getElementById('line-chart').getContext('2d');
    const myLineChart = new Chart(lineChart, {
    type: 'line',
    data: {
        labels: [{% for item in lineData %} "{{ item.day }}", {% endfor %}],
        datasets: [{
            label: '',
            data: [{% for item in lineData %} {{ item.sale }}, {% endfor %}],
            backgroundColor: [
                'rgba(255, 56, 0, 0.2)',
            ],
            borderColor: [
                '#ff3800',
            ],
            borderWidth: 1
        }]
    },
    options: {
        scales: {
            y: {
                beginAtZero: true
            },
            xAxes: [{
            gridLines: {
                color: "rgba(0, 0, 0, 0)",
            }
        }],
        yAxes: [{
            gridLines: {
                color: "rgba(0, 0, 0, 0.05)",
            }   
        }]
        },
        legend: {
            display: false
        }
    }
});
</script>

{% endblock body %}