{% extends 'layout/homeLayout.html' %}

{% block title %}
<title>Romano</title>
{% endblock title %}



{% block body %}

<div class="dropdown">
    <a class="btn btn-primary dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
      Dropdown link
    </a>
  
    <ul class="dropdown-menu">
      <li><a class="dropdown-item" href="#">Action</a></li>
      <li><a class="dropdown-item" href="#">Another action</a></li>
      <li><a class="dropdown-item" href="#">Something else here</a></li>
    </ul>
</div>

<div class="sales-graph">
  {% include "includes/graph/pieGraph.html" %}
</div>


<script>


  const ctx = document.getElementById('pie-chart');
  
  new Chart(ctx, {
    type: 'pie',
    data: {
      labels: ['Red', 'Blue', 'Yellow', 'Green', 'Purple', 'Orange'],
      datasets: [{
        label: '# of Votes',
        data: [12, 19, 3, 5, 2, 3],
        borderWidth: 1
      }]
    },
    options: {
      responsive: true,
      maintainAspectRatio: true,
      aspectRatio: 2,
      scales: {
        xAxes: [{
          gridLines: {
              display:false
          }
        }],
        yAxes: [{
            gridLines: {
                display:false
            }   
        }]
      }
      
    }
  });


</script>

{% endblock body %}