<footer>
    <div class="content">
        <div class="top">
            <div class="logo-details">
                <img src="/static/images/logo/sg-logo-2-white.png" alt="">
            </div>
            <div class="media-icons">
                <a href="https://www.facebook.com/profile.php?id=100074415604970" target="_blank"><i class="bx bxl-facebook"></i></a>
                <a href="https://www.instagram.com/maximaintegration/" target="_blank"><i class="bx bxl-instagram"></i></a>
                <a href="https://twitter.com/maximaintegrate" target="_blank"><i class="bx bxl-twitter"></i></a>
                <a href="https://linkedin.com" target="_blank"><i class="bx bxl-linkedin"></i></a>
                <a href="https://youtube.com" target="_blank"><i class="bx bxl-youtube"></i></a>
            </div>
        </div>
        <div class="link-boxes">
            <ul class="box">
                <li class="link-name">Kurumsal</li>
                <li><a href="/">Anasayfa</a></li>
                <li><a href="/about">Hakkımızda</a></li>
                <li><a href="/contact">İletişim</a></li>
                <li><a href="#">Başlayın</a></li>
            </ul>
            <ul class="box">
                <li class="link-name">Servisler</li>
                <li><a href="#">Stok Yönetimi</a></li>
                <li><a href="#">Sipariş Yönetimi</a></li>
                <li><a href="#">Raporlama</a></li>
                <li><a href="#">Finans Takibi</a></li>
            </ul>
            <ul class="box">
                <li class="link-name">Üyelik</li>
                <li><a href="#">Profil</a></li>
                <li><a href="/dashboard">Hesabım</a></li>
                <li><a href="#">Tercihler</a></li>
                <li><a href="#">Ücretlendirme</a></li>
            </ul>
            <ul class="box">
                <li class="link-name">Blog</li>
                <li><a href="#">E-Ticaret</a></li>
                <li><a href="#">Entegrasyon</a></li>
                <li><a href="#">API</a></li>
                <li><a href="#">XML</a></li>
            </ul>
            <ul class="box input-box">
                <li class="link-name">Abonelik</li>
                <li><input type="text" placeholder="E-posta Adresini Gir"></li>
                <li><input type="button" value="Kayıt Ol"></li>
            </ul>
        </div>
    </div>
    <div class="bottom-details">
        <div class="bottom-text">
            <span class="copyright-text">Copyright &#169; 2021 <a href="">Seçim Gecesi</a>Tüm Hakları Saklıdır</span>
            <span class="policy-terms">
                <a href="">Gizlilik Politikası</a>
                <a href="">Şartlar &#38; Koşullar</a>
            </span>
        </div>
    </div>
</footer>