<!-- Logout Modal -->
<div class="modal fade" id="logoutModalCenter" tabindex="-1" role="dialog" aria-labelledby="logoutModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
        <div class="modal-header">
        <h5 class="modal-title" id="logoutModalLongTitle">Çıkış Yapılsın mı?</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
            {% comment %} <span aria-hidden="true">&times;</span> {% endcomment %}
        </button>
        </div>
        <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Vazgeç</button>
        <a class="btn btn-danger" href="/user/logout">Çıkış Yap</a>
        </div>
    </div>
    </div>
</div>

<!-- Material Detail Modal -->
<div class="modal fade" id="materialDetailModalCenter" tabindex="-1" role="dialog" aria-labelledby="materialDetailModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
  <div class="modal-content">
      <div class="modal-header">
      <h5 class="modal-title" id="logoutModalLongTitle">{{material.title}}</h5>
      <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
          {% comment %} <span aria-hidden="true">&times;</span> {% endcomment %}
      </button>
      </div>
      <div class="modal-footer">
      <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Vazgeç</button>
      <a class="btn btn-danger" href="/user/logout">Çıkış Yap</a>
      </div>
  </div>
  </div>
</div>

<style>
  .btn-secondary{
    border: 0px solid;
    border-radius: 15px;
    background-color: #2b2d2f!important;
    color: #fff;
    text-transform: none!important;
  }
  .btn-danger{
    border: 0px solid;
    border-radius: 15px;
    background-color: #ff3800!important;
    color: #fff;
    text-transform: none!important;
  }
</style>

