{% include "./modal.html" %}

<nav class="navbarv2">
    <div class="menu">
        <input type="checkbox" id="check">
        <div class="logo">
            <a href="{% url 'index' %}">
                <img src="/static/images/logo/romano-logo1.svg" alt="Site Logo" style="height: 35px;">
            </a>
        </div>
        <ul>
            <label class="buttonMainMobileMenu cancel" for="check">
                <i class='bx bx-x' ></i>
            </label>
            <li>
                <a href="https://romanodizayn.com" target="_blank">Romano Dizayn</a>
            </li>
            <li>
                <a href="https://romanosiparis.com" target="_blank">Romano Sipariş</a>
            </li>
            
        </ul>
        <label class="buttonMainMobileMenu bars" for="check">
            <i class='bx bx-menu'></i>
        </label>
    </div>
</nav>