{% extends 'layout/dashboardLayout.html' %}

{% block body %}
{% load crispy_forms_tags %}
<div class="globalBoxes">
    <div class="box">
        <button class="btn btn-info" style="margin-bottom: 20px;">Ürün Ekle</button>
        <a class="btn btn-warning" href="{% url 'product:update-products' %}" style="margin-bottom: 20px;">Ürünleri Güncelle</a>
        <a class="btn btn-warning" href="{% url 'product:update-categories' %}" style="margin-bottom: 20px;">Kategorileri Güncelle</a>
        <table id="productTable" class="table table-striped" style="width:100%">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Ürün İsmi</th>
                    <th>Adı Soyadı</th>
                    <th>Şehir</th>
                    <th>Ürün</th>
                    <th>Sipariş Tutarı</th>
                    <th>Detay</th>
                </tr>
            </thead>
            <tbody>
                {% for product in products %}
                    <tr style="vertical-align: middle;">
                        <td>{{product.product_id}}</td>
                        <td>{{product.title}}</td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td>
                            <button class="btn btn-info">Detay</button>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
            <tfoot>
                <tr>
                    <th>ID</th>
                    <th>Ürün İsmi</th>
                    <th>Adı Soyadı</th>
                    <th>Şehir</th>
                    <th>Ürün</th>
                    <th>Sipariş Tutarı</th>
                    <th>Detay</th>
                </tr>
            </tfoot>
        </table>
    </div>
</div>

<script>
    $(document).ready(function () {
        $('#productTable').DataTable({
            order: [[0, 'desc']],
            language: {
                url: '//cdn.datatables.net/plug-ins/1.13.2/i18n/tr.json'
            }
        });
    });



   

</script>

{% endblock body %}