{% extends 'layout/dashboardLayout.html' %}

{% block body %}



<div class="overview-boxes">
    <div class="box">
        <div class="left-side">
            <div class="box-topic">{{ currentMonthName }} Ayı Toplam Ciro</div>
            <div class="number">₺ {{ ordersCurrentMonthTotal }}</div>
            <div class="indicator">
                {% if ordersCurrentMonthTotal > ordersLastMonthTotal %}
                    <i class="bx bx-up-arrow-alt"></i>
                    <span class="text">Geçen aydan daha yüksek</span>
                {% else %}
                    <i class="bx bx-down-arrow-alt"></i>
                    <span class="text">Geçen aydan daha düşük ({{ ordersLastMonthTotal }})</span>
                {% endif %}
            </div>
        </div>
        <i class="fa-solid fa-cart-plus cart two"></i>
    </div>
    <div class="box">
        <div class="left-side">
            <div class="box-topic">{{ currentMonthName }} Ayı Toplam Gider</div>
            <div class="number">₺ {{ expensesCurrentMonthTotal }}</div>
            <div class="indicator">
                {% if expensesCurrentMonthTotal > expensesLastMonthTotal %}
                    <i class="bx bx-up-arrow-alt"></i>
                    <span class="text">Geçen aydan daha yüksek</span>
                {% else %}
                    <i class="bx bx-down-arrow-alt"></i>
                    <span class="text">Geçen aydan daha düşük</span>
                {% endif %}
            </div>
        </div>
        <i class="fa-solid fa-money-check-dollar cart"></i>
    </div>
    <div class="box">
        <div class="left-side">
            <div class="box-topic">Yaklaşan Ödemeler</div>
            <div class="rowBlock">{{loans.0.bank}} {{loans.0.title}} {{loans.0.completed_installment|add:1}}. Taksit - <span>{{loans.0.next_installment}}</span></div>
            <div class="rowBlock">{{loans.1.bank}} {{loans.1.title}} {{loans.1.completed_installment|add:1}}. Taksit - <span>{{loans.1.next_installment}}</span></div>
            <div class="rowBlock">{{loans.2.bank}} {{loans.2.title}} {{loans.2.completed_installment|add:1}}. Taksit - <span>{{loans.2.next_installment}}</span></div>
            <div class="rowBlock"><a class="seeAllButton" href="{% url 'loans' %}">Tümünü Gör</a></div>
        </div>
        <i class="fa-solid fa-money-check-dollar cart"></i>
    </div>
    <div class="box">
        <div class="left-side">
            <div class="box-topic">Sipariş Durumu</div>
            <div class="orderStatus">
                <div class="orderStatusTitle">Bekleyen Ürünler</div>
                <div class="orderStatusBox">
                    <div class="orderStatusValue">{{ bekleyenCount }}</div>
                </div>
            </div>
            <div class="orderStatus">
                <div class="orderStatusTitle">Üretimdeki Ürünler</div>
                <div class="orderStatusBox">
                    <div class="orderStatusValue">{{ uretimCount }}</div>
                </div>
            </div>
            <div class="orderStatus">
                <div class="orderStatusTitle">Montajdaki Ürünler</div>
                <div class="orderStatusBox">
                    <div class="orderStatusValue">{{ montajCount }}</div>
                </div>
            </div>
            <!-- <div class="indicator">
                <i class="bx bx-up-arrow-alt"></i>
                <span class="text">Dünden daha yüksek</span>
            </div> -->
        </div>
        <!-- <i class="bx bxs-cart cart three"></i> -->
    </div>
    <!-- <div class="box">
        <div class="left-side">
            <div class="box-topic">Haftalık Satış</div>
            <div class="number">279</div>
            <div class="indicator">
                <i class="bx bx-down-arrow-alt down"></i>
                <span class="text">Geçen haftadan daha düşük</span>
            </div>
        </div>
        <i class="bx bxs-cart-download cart four"></i>
    </div> -->
</div>
<div class="sales-boxes">
    <div class="recent-sale box">
        <div class="title">Son Siparişler</div>
        <div class="sales-details">
            <ul class="details">
                <li class="topic">Tarih</li>
                <li><a href="">{{orders.0.order_date}}</a></li>
                <li><a href="">{{orders.1.order_date}}</a></li>
                <li><a href="">{{orders.2.order_date}}</a></li>
                <li><a href="">{{orders.3.order_date}}</a></li>
                <li><a href="">{{orders.4.order_date}}</a></li>
                <li><a href="">{{orders.5.order_date}}</a></li>
            </ul>
            <ul class="details">
                <li class="topic">Müşteri</li>
                <li><a href="">{{orders.0.customer_name}}</a></li>
                <li><a href="">{{orders.1.customer_name}}</a></li>
                <li><a href="">{{orders.2.customer_name}}</a></li>
                <li><a href="">{{orders.3.customer_name}}</a></li>
                <li><a href="">{{orders.4.customer_name}}</a></li>
                <li><a href="">{{orders.5.customer_name}}</a></li>
            </ul>
            <ul class="details">
                <li class="topic">Teslimat</li>
                <li><a href="">{{orders.0.cargo_address.Il}}</a></li>
                <li><a href="">{{orders.1.cargo_address.Il}}</a></li>
                <li><a href="">{{orders.2.cargo_address.Il}}</a></li>
                <li><a href="">{{orders.3.cargo_address.Il}}</a></li>
                <li><a href="">{{orders.4.cargo_address.Il}}</a></li>
                <li><a href="">{{orders.5.cargo_address.Il}}</a></li>
            </ul>
            <ul class="details">
                <li class="topic">Toplam</li>
                <li><a href="">₺ {{orders.0.total}}</a></li>
                <li><a href="">₺ {{orders.1.total}}</a></li>
                <li><a href="">₺ {{orders.2.total}}</a></li>
                <li><a href="">₺ {{orders.3.total}}</a></li>
                <li><a href="">₺ {{orders.4.total}}</a></li>
                <li><a href="">₺ {{orders.5.total}}</a></li>
            </ul>
        </div>
        <div class="button">
            <a href="/orders">Tümünü Gör</a>
        </div>
    </div>
    <div class="top-sales box">
        <div class="title">En Çok Satan Ürünler</div>
        <ul>
            <li>
                <a href="">
                    <img src="{{ mostSelledProducts.0.img }}" alt="">
                    <span class="product-name">{{ mostSelledProducts.0.name }}</span>
                </a>
                <span class="price">{{ mostSelledProducts.0.count}} Adet</span>
            </li>
            <li>
                <a href="">
                    <img src="{{ mostSelledProducts.1.img }}" alt="">
                    <span class="product-name">{{ mostSelledProducts.1.name }}</span>
                </a>
                <span class="price">{{ mostSelledProducts.1.count}} Adet</span>
            </li>
            <li>
                <a href="">
                    <img src="{{ mostSelledProducts.2.img }}" alt="">
                    <span class="product-name">{{ mostSelledProducts.2.name }}</span>
                </a>
                <span class="price">{{ mostSelledProducts.2.count}} Adet</span>
            </li>
            <li>
                <a href="">
                    <img src="{{ mostSelledProducts.3.img }}" alt="">
                    <span class="product-name">{{ mostSelledProducts.3.name }}</span>
                </a>
                <span class="price">{{ mostSelledProducts.3.count}} Adet</span>
            </li>
            <li>
                <a href="">
                    <img src="{{ mostSelledProducts.4.img }}" alt="">
                    <span class="product-name">{{ mostSelledProducts.4.name }}</span>
                </a>
                <span class="price">{{ mostSelledProducts.4.count}} Adet</span>
            </li>
            <li>
                <a href="">
                    <img src="{{ mostSelledProducts.5.img }}" alt="">
                    <span class="product-name">{{ mostSelledProducts.5.name }}</span>
                </a>
                <span class="price">{{ mostSelledProducts.5.count}} Adet</span>
            </li>
        </ul>
    </div>
</div>
<div class="sales-graph">
    {% include "includes/graph/lineGraph.html" %}
    {% include "includes/graph/pieGraph.html" %}
</div>

<script>
    /*Line Chart*/
    /*const lineChart = document.getElementById('line-chart').getContext('2d');
    const myLineChart = new Chart(lineChart, {
        type: 'line',
        data: {
            labels: [{% for item in lineData %} "{{ item.day }}", {% endfor %}],
            datasets: [{
                label: 'Ciro',
                data: [{% for item in lineData %} {{ item.orderData }}, {% endfor %}],
                backgroundColor: [
                    'rgba(255, 56, 0, 0.2)',
                ],
                borderColor: [
                    '#ff3800',
                ],
                borderWidth: 1
            }]
        },
        options: {
            scales: {
                y: {
                    beginAtZero: true
                },
                xAxes: [{
                gridLines: {
                    color: "rgba(0, 0, 0, 0)",
                }
            }],
            yAxes: [{
                gridLines: {
                    color: "rgba(0, 0, 0, 0.05)",
                }   
            }]
            },
            legend: {
                display: false
            }
        }
    });*/

    //bir butona tıklandığında grafik yüklensin isteniyorsa grafik komutlarını bir fonksiyonun içine al ve butona o fonksiyonu ekle
    const ctxLineChart = document.getElementById('line-chart').getContext('2d');

    new Chart(ctxLineChart, {
        type: 'line',
        data: {
        labels: [{% for item in lineData %} "{{ item.day }}", {% endfor %}],
        datasets: [{
            label: '',
            data: [{% for item in lineData %} {{ item.orderData }}, {% endfor %}],
            fill: true,
            backgroundColor: 'rgba(255, 56, 0, 0.2)',
            borderColor: '#ff3800',
            borderWidth: 1,
            tension: 0.5
        }]
        },
        options: {
            plugins: {
                legend: {
                    display:false
                }
            },
            scales: {
                y: {
                    beginAtZero: true,
                    grid: {
                        color: "rgba(0, 0, 0, 0.05)"
                    }
                },
                x: {
                    grid: {
                        display:false
                    }
                }
            }
        }
    });
    
    

    /*Pie Chart*/
    /*const pieChart = document.getElementById('pie-chart').getContext('2d');
    var dataLabels = [{% for item in pieData %} "{{ item.category }}", {% endfor %}];
    const myPieChart = new Chart(pieChart, {
        type: 'doughnut',
        data: {
            labels: dataLabels,
            datasets: [{
                label: '',
                data: [{% for item in pieData %} {{ item.total }}, {% endfor %}],
                backgroundColor: palette(['tol', 'qualitative', 'sequential'], dataLabels.length).map(function(hex) {
                    return '#' + hex;
                  }),
                hoverOffset: 4
            }]
        },
        options: {
            responsive: true,
            maintainAspectRatio: true,
            aspectRatio: 1.2,
            legend: {
                position: 'bottom',
            }
        }  
    });*/


    const ctxPieChart = document.getElementById('pie-chart').getContext('2d');

    new Chart(ctxPieChart, {
        type: 'pie',
        data: {
        labels: [{% for item in pieData %} "{{ item.category }}", {% endfor %}],
        datasets: [{
            label: '',
            data: [{% for item in pieData %} {{ item.total }}, {% endfor %}],
            borderWidth: 1,
            hoverOffset: 4
        }]
        },
        options: {
            responsive: true,
            maintainAspectRatio: true,
            aspectRatio: 1,
            plugins: {
                legend: {
                    position: 'bottom'
                }
            },
            scales: {
                xAxes: [{
                    gridLines: {
                        display:false
                    }
                }],
                yAxes: [{
                    gridLines: {
                        display:false
                    }   
                }]
            }
        }
    });



</script>

{% endblock body %}