{% extends 'layout/dashboardLayout.html' %}

{% block body %}



<div class="overview-boxes">
    <div class="box">
        <div class="left-side">
            <div class="box-topic">Günlük Ciro</div>
            <div class="number">₺16897.36</div>
            <div class="indicator">
                <i class="bx bx-up-arrow-alt"></i>
                <span class="text">Dünden daha yüksek</span>
            </div>
        </div>
        <i class="bx bxs-cart-alt cart"></i>
    </div>
    <div class="box">
        <div class="left-side">
            <div class="box-topic">{{ currentMonthName }} Ayı Toplam Ciro</div>
            <div class="number">₺ {{ ordersCurrentMonthTotal }}</div>
            <div class="indicator">
                {% if ordersCurrentMonthTotal > ordersLastMonthTotal %}
                    <i class="bx bx-up-arrow-alt"></i>
                    <span class="text">Geçen aydan daha yüksek</span>
                {% else %}
                    <i class="bx bx-down-arrow-alt"></i>
                    <span class="text">Geçen aydan daha düşük ({{ ordersLastMonthTotal }})</span>
                {% endif %}
            </div>
        </div>
        <i class="bx bxs-cart-add cart two"></i>
    </div>
    <div class="box">
        <div class="left-side">
            <div class="box-topic">{{ currentMonthName }} Ayı Toplam Gider</div>
            <div class="number">₺ {{ expensesCurrentMonthTotal }}</div>
            <div class="indicator">
                {% if expensesCurrentMonthTotal > expensesLastMonthTotal %}
                    <i class="bx bx-up-arrow-alt"></i>
                    <span class="text">Geçen aydan daha yüksek</span>
                {% else %}
                    <i class="bx bx-down-arrow-alt"></i>
                    <span class="text">Geçen aydan daha düşük</span>
                {% endif %}
            </div>
        </div>
        <i class="bx bxs-cart-add cart two"></i>
    </div>
    <div class="box">
        <div class="left-side">
            <div class="box-topic">Sipariş Durumu</div>
            <div class="orderStatus">
                <div class="orderStatusTitle">Bekleyen Ürünler</div>
                <div class="orderStatusBox">
                    <div class="orderStatusValue">{{ bekleyenCount }}</div>
                </div>
            </div>
            <div class="orderStatus">
                <div class="orderStatusTitle">Üretimdeki Ürünler</div>
                <div class="orderStatusBox">
                    <div class="orderStatusValue">{{ uretimCount }}</div>
                </div>
            </div>
            <div class="orderStatus">
                <div class="orderStatusTitle">Montajdaki Ürünler</div>
                <div class="orderStatusBox">
                    <div class="orderStatusValue">{{ montajCount }}</div>
                </div>
            </div>
            <!-- <div class="indicator">
                <i class="bx bx-up-arrow-alt"></i>
                <span class="text">Dünden daha yüksek</span>
            </div> -->
        </div>
        <!-- <i class="bx bxs-cart cart three"></i> -->
    </div>
    <!-- <div class="box">
        <div class="left-side">
            <div class="box-topic">Haftalık Satış</div>
            <div class="number">279</div>
            <div class="indicator">
                <i class="bx bx-down-arrow-alt down"></i>
                <span class="text">Geçen haftadan daha düşük</span>
            </div>
        </div>
        <i class="bx bxs-cart-download cart four"></i>
    </div> -->
</div>
<div class="sales-boxes">
    <div class="recent-sale box">
        <div class="title">Son Siparişler</div>
        <div class="sales-details">
            <ul class="details">
                <li class="topic">Tarih</li>
                <li><a href="">{{orders.0.order_date}}</a></li>
                <li><a href="">{{orders.1.order_date}}</a></li>
                <li><a href="">{{orders.2.order_date}}</a></li>
                <li><a href="">{{orders.3.order_date}}</a></li>
                <li><a href="">{{orders.4.order_date}}</a></li>
                <li><a href="">{{orders.5.order_date}}</a></li>
            </ul>
            <ul class="details">
                <li class="topic">Müşteri</li>
                <li><a href="">{{orders.0.customer_name}}</a></li>
                <li><a href="">{{orders.1.customer_name}}</a></li>
                <li><a href="">{{orders.2.customer_name}}</a></li>
                <li><a href="">{{orders.3.customer_name}}</a></li>
                <li><a href="">{{orders.4.customer_name}}</a></li>
                <li><a href="">{{orders.5.customer_name}}</a></li>
            </ul>
            <ul class="details">
                <li class="topic">Teslimat</li>
                <li><a href="">{{orders.0.cargo_address.Il}}</a></li>
                <li><a href="">{{orders.1.cargo_address.Il}}</a></li>
                <li><a href="">{{orders.2.cargo_address.Il}}</a></li>
                <li><a href="">{{orders.3.cargo_address.Il}}</a></li>
                <li><a href="">{{orders.4.cargo_address.Il}}</a></li>
                <li><a href="">{{orders.5.cargo_address.Il}}</a></li>
            </ul>
            <ul class="details">
                <li class="topic">Toplam</li>
                <li><a href="">₺ {{orders.0.total}}</a></li>
                <li><a href="">₺ {{orders.1.total}}</a></li>
                <li><a href="">₺ {{orders.2.total}}</a></li>
                <li><a href="">₺ {{orders.3.total}}</a></li>
                <li><a href="">₺ {{orders.4.total}}</a></li>
                <li><a href="">₺ {{orders.5.total}}</a></li>
            </ul>
        </div>
        <div class="button">
            <a href="/orders">Tümünü Gör</a>
        </div>
    </div>
    <div class="top-sales box">
        <div class="title">En Çok Satan Ürünler</div>
        <ul>
            <li>
                <a href="">
                    <img src="{{ mostSelledProduct.0.img }}" alt="">
                    <span class="product-name">{{ mostSelledProduct.0.name }}</span>
                </a>
                <span class="price">₺ {{ mostSelledProduct.0.price}}</span>
            </li>
            <li>
                <a href="">
                    <img src="{{ mostSelledProduct.1.img }}" alt="">
                    <span class="product-name">{{ mostSelledProduct.1.name }}</span>
                </a>
                <span class="price">₺ {{ mostSelledProduct.1.price}}</span>
            </li>
            <li>
                <a href="">
                    <img src="{{ mostSelledProduct.2.img }}" alt="">
                    <span class="product-name">{{ mostSelledProduct.2.name }}</span>
                </a>
                <span class="price">₺ {{ mostSelledProduct.2.price}}</span>
            </li>
            <li>
                <a href="">
                    <img src="{{ mostSelledProduct.3.img }}" alt="">
                    <span class="product-name">{{ mostSelledProduct.3.name }}</span>
                </a>
                <span class="price">₺ {{ mostSelledProduct.3.price}}</span>
            </li>
            <li>
                <a href="">
                    <img src="{{ mostSelledProduct.4.img }}" alt="">
                    <span class="product-name">{{ mostSelledProduct.4.name }}</span>
                </a>
                <span class="price">₺ {{ mostSelledProduct.4.price}}</span>
            </li>
            <li>
                <a href="">
                    <img src="{{ mostSelledProduct.5.img }}" alt="">
                    <span class="product-name">{{ mostSelledProduct.5.name }}</span>
                </a>
                <span class="price">₺ {{ mostSelledProduct.5.price}}</span>
            </li>
        </ul>
    </div>
</div>
<div class="sales-graph">
    {% include "includes/graph/lineGraph.html" %}
    {% include "includes/graph/pieGraph.html" %}
</div>

<script>
/*Line Chart*/
const lineChart = document.getElementById('line-chart').getContext('2d');
const myLineChart = new Chart(lineChart, {
    type: 'line',
    data: {
        labels: [{% for item in lineData %} "{{ item.day }}", {% endfor %}],
        datasets: [{
            label: 'Ciro',
            data: [{% for item in lineData %} {{ item.orderData }}, {% endfor %}],
            backgroundColor: [
                'rgba(255, 56, 0, 0.2)',
            ],
            borderColor: [
                '#ff3800',
            ],
            borderWidth: 1
        }]
    },
    options: {
        scales: {
            y: {
                beginAtZero: true
            },
            xAxes: [{
            gridLines: {
                color: "rgba(0, 0, 0, 0)",
            }
        }],
        yAxes: [{
            gridLines: {
                color: "rgba(0, 0, 0, 0.05)",
            }   
        }]
        },
        legend: {
            display: false
        }
    }
});

/*Pie Chart*/
const pieChart = document.getElementById('pie-chart').getContext('2d');
const myPieChart = new Chart(pieChart, {
    type: 'doughnut',
    data: {
        labels: [{% for item in pieData %} "{{ item.shop }}", {% endfor %}],
        datasets: [{
            label: '',
            data: [{% for item in pieData %} {{ item.sale }}, {% endfor %}],
            backgroundColor: ["#ffb347", "#2a52be", "#e32636", "#a7a6ba", "#addfad", "#2C3539"],
            hoverOffset: 4
        }]
    },
    options: {
        responsive: true,
        maintainAspectRatio: true,
        aspectRatio: 1.2,
        legend: {
            position: 'bottom',
        }
  }
       
});
</script>

{% endblock body %}