{% extends 'layout/dashboardLayout.html' %}

{% block body %}
{% load crispy_forms_tags %}
<div class="globalBoxes">
    <div class="box">
        <button class="btn btn-info" style="margin-bottom: 20px;">Sipariş Ekle</button>
        <a class="btn btn-warning" href="{% url 'order:update-orders' %}" style="margin-bottom: 20px;">Güncelle</a>
        <table id="orderTable" class="table table-striped" style="width:100%">
            <thead>
                <tr>
                    <th>Sipariş ID</th>
                    <th>Sipariş Tarihi</th>
                    <th>Adı Soyadı</th>
                    <th>Şehir</th>
                    <th>Ürün</th>
                    <th>Sipariş Tutarı</th>
                    <th>Detay</th>
                </tr>
            </thead>
            <tbody>
                {% for order in orders %}
                    <tr style="vertical-align: middle;">
                        <td>{{order.order_id}}</td>
                        <td data-order="1479686400">{{order.order_date}}</td>
                        <td >{{order.customer_name}}</td>
                        <td >{{order.cargo_address.Ilce}}/{{order.cargo_address.Il}}</td>
                        <td>
                            <ul style="list-style-type: none; margin: 0; padding: 0;">
                                {% for product in order.products %} 
                                    <li style="display: flex; align-items: center; padding: 5px 0;">
                                        <a hx-get="{% url 'order:show-image' order.id forloop.counter0%}" hx-target="#showImageDialog"><img src = "{{product.productImg}}" style="max-width: 100px; cursor: pointer;"></a>&nbsp;&nbsp;&nbsp;&nbsp;
                                        <span>{{product.productName}}</span>
                                        <span style="margin-left: auto; font-weight: 600;">{{product.productQuantity|floatformat:"0"}}</span>&nbsp;&nbsp;&nbsp;&nbsp;
                                            {% if product.productStatus == "Bekliyor" %}
                                                <button class="btn btn-warning" hx-get="{% url 'order:update-status' order.id forloop.counter0 %}" hx-target="#addUpdateDataDialog"><i class="fa-solid fa-clock"></i>&nbsp;{{product.productStatus}}</button>
                                            {% elif product.productStatus == "Üretim Bekliyor" %}
                                                <button class="btn btn-warning" hx-get="{% url 'order:update-status' order.id forloop.counter0 %}" hx-target="#addUpdateDataDialog"><i class="fa-solid fa-clock"></i>&nbsp;{{product.productStatus}}</button>
                                            {% elif product.productStatus == "Üretimde" %}
                                                <button class="btn btn-secondary" hx-get="{% url 'order:update-status' order.id forloop.counter0 %}" hx-target="#addUpdateDataDialog"><i class="fa-solid fa-industry"></i>&nbsp;{{product.productStatus}}</button>
                                            {% elif product.productStatus == "Üretimi Tamamlandı" %}
                                                <button class="btn btn-info" hx-get="{% url 'order:update-status' order.id forloop.counter0 %}" hx-target="#addUpdateDataDialog"><i class="fa-solid fa-check"></i>&nbsp;{{product.productStatus}}</button>
                                            {% elif product.productStatus == "Boyada" %}
                                                <button class="btn btn-primary" hx-get="{% url 'order:update-status' order.id forloop.counter0 %}" hx-target="#addUpdateDataDialog"><i class="fa-solid fa-paint-roller"></i>&nbsp;{{product.productStatus}}</button>
                                            {% elif product.productStatus == "Montajda" %}
                                                <button class="btn btn-light" hx-get="{% url 'order:update-status' order.id forloop.counter0 %}" hx-target="#addUpdateDataDialog"><i class="fa-solid fa-screwdriver-wrench"></i>&nbsp;{{product.productStatus}}</button>
                                            {% elif product.productStatus == "Nakliyeye Gönderildi" %}
                                                <button class="btn btn-danger" hx-get="{% url 'order:update-status' order.id forloop.counter0 %}" hx-target="#addUpdateDataDialog"><i class="fa-solid fa-truck"></i>&nbsp;{{product.productStatus}}</button>
                                            {% elif product.productStatus == "Nakliye Teslim Aldı" %}
                                                <button class="btn btn-danger" hx-get="{% url 'order:update-status' order.id forloop.counter0 %}" hx-target="#addUpdateDataDialog"><i class="fa-solid fa-truck"></i>&nbsp;{{product.productStatus}}</button>
                                            {% elif product.productStatus == "Taşıma Durumunda" %}
                                                <button class="btn btn-danger" hx-get="{% url 'order:update-status' order.id forloop.counter0 %}" hx-target="#addUpdateDataDialog"><i class="fa-solid fa-truck"></i>&nbsp;{{product.productStatus}}</button>
                                            {% elif product.productStatus == "Müşteriye Teslim Edildi" %}
                                                <button class="btn btn-success" hx-get="{% url 'order:update-status' order.id forloop.counter0 %}" hx-target="#addUpdateDataDialog"><i class="fa-solid fa-check"></i>&nbsp;{{product.productStatus}}</button>
                                            {% endif %}
                                    </li>
                                {% endfor %}
                            </ul>
                        </td>
                        <td>₺ {{order.total}}</td>
                        <td>
                            <button class="btn btn-info">Detay</button>
                        </td>
                    </tr>
                {% endfor %}
                
            </tbody>
            <tfoot>
                <tr>
                    <th>Sipariş ID</th>
                    <th>Sipariş Tarihi</th>
                    <th>Adı Soyadı</th>
                    <th>Şehir</th>
                    <th>Ürün</th>
                    <th>Sipariş Tutarı</th>
                    <th>Detay</th>
                </tr>
            </tfoot>
        </table>
    </div>
</div>

<div class="sales-graph">
    {% include "includes/graph/lineGraph.html" %}
    {% include "includes/graph/pieGraph.html" %}
</div>

<script>
    $(document).ready(function () {
        $('#orderTable').DataTable({
            order: [[0, 'desc']],
            language: {
                url: '//cdn.datatables.net/plug-ins/1.13.2/i18n/tr.json'
            }
        });
    });



    /*Line Chart*/
    const lineChart = document.getElementById('line-chart').getContext('2d');
    const myLineChart = new Chart(lineChart, {
        type: 'line',
        data: {
            labels: [{% for item in lineData %} "{{ item.day }}", {% endfor %}],
            datasets: [{
                label: 'Günlük Gider',
                data: [{% for item in lineData %} {{ item.data }}, {% endfor %}],
                backgroundColor: [
                    'rgba(255, 56, 0, 0.2)',
                ],
                borderColor: [
                    '#ff3800',
                ],
                borderWidth: 1
            }]
        },
        options: {
            scales: {
                y: {
                    beginAtZero: true
                },
                xAxes: [{
                gridLines: {
                    color: "rgba(0, 0, 0, 0)",
                }
                }],
                yAxes: [{
                    gridLines: {
                        color: "rgba(0, 0, 0, 0.05)",
                    }   
                }]
            },
            legend: {
                display: false
            }
        }
    });

    /*Pie Chart*/
    const pieChart = document.getElementById('pie-chart').getContext('2d');
    var dataLabels = [{% for item in pieData %} "{{ item.category }}", {% endfor %}];
    const myPieChart = new Chart(pieChart, {
        type: 'doughnut',
        data: {
            labels: dataLabels,
            datasets: [{
                label: '',
                data: [{% for item in pieData %} {{ item.data }}, {% endfor %}],
                backgroundColor: palette(['tol', 'qualitative', 'sequential'], dataLabels.length).map(function(hex) {
                    return '#' + hex;
                  }),
                hoverOffset: 4
            }]
        },
        options: {
            responsive: true,
            maintainAspectRatio: true,
            aspectRatio: 1.2,
            legend: {
                position: 'bottom',
            }
        }  
    });

</script>

{% endblock body %}