<div class="line-graph box">
    <div class="head">
        <div class="title">{{lineGraphTag}}</div>
        <!--<button onclick="loadGraph()"><i class='bx bx-cog'></i></button>-->
        <i class='bx bx-cog'></i>
    </div>
    <canvas id="line-chart"></canvas>
    {% comment %} <input type="date" onchange="filterData()" id="startdate" value="{{lineData.0.day}}">
    <input type="date" onchange="filterData()" id="enddate"> {% endcomment %}
    <div class="button goDetailButton">
        <a class="detayButton" href="">Detaylı Raporlar</a>
    </div>
</div>